@model NKLBaiThi2324.Models.NKL425Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NKL425Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSinhVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSinhVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MASinhVien">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
